<%= @game.p1.name %> attacked <%= @game.p2.name %>

<%= @game.p2.name %> HP = <%= @game.p2.hit_points %>

<!-- <form action="/play" method="get">
  <label for="OK">Next go?
    <input type="submit" value="OK">
  </label>

</form> -->

<p>Ready for the next round?</p>
<a href="/play">OK</a>
